.btn-sair{
	margin-top: -3.5%; 
	margin-left: 95%;
}

.black{
	color:#3B3B3B !important;;
}

.centered{
	margin-left: 45%;
}

.p_title{
	color: black;
	font-size: 16px;
}

.footer_modal{
	margin-top: 120px;
}