<link rel="stylesheet" type="text/css" href="app/novousuario/style.css">
<div class="modal fade" id="modalNovoUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Editar Usuário</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label  class="col-lg-2 control-label">Nome</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="nome" ng-model="newuser.nome_usuario" placeholder="Nome" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" id="email" ng-model="newuser.email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-2 control-label">Telefone</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="phone" ng-model="newuser.telefone" placeholder="Telefone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Data Nascimento</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="data_nascimento" ng-model="newuser.data_nascimento" placeholder="Data Nascimento">
                        </div>
                    </div>  
                    <div class="form-group col-lg-12 text-center">
                        <label class="col-lg-2 control-label">Sexo</label>
                        <div class="col-lg-12 form-group">
                            <ul class="types_sexo position">
                                <li class="type_sexo masculino">
                                    <input type="radio" name="types_sexo" id="masculino" value="M" ng-model="newuser.sexo">
                                    <label for="masculino">Masculino</label>
                                </li>
                                <li class="type_sexo feminino">
                                    <input type="radio" name="types_sexo" id="feminino" value="F" ng-model="newuser.sexo">
                                    <label for="feminino">Feminino</label>
                                </li>
                            </ul>
                        </div>
                    </div><br>
                    <div class="modal-footer">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <button class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-success btn-block" ng-click="cadastrar_usuario(newuser)">Salvar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div ng-include="'app/modal_status/modal_sucesso.html'"></div>
<script src="app/novousuario/modal_novo_usuario.js"></script>